.changeEmailPopup {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 32px;
    max-width: 85vw;
    min-width: 20vw;
    min-height: 10vh;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.changeEmailPopup .input-holder {
    width: 100%;
    max-width: 300px;
    margin-top: 50px;
}

.changeEmailPopup .button-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
