.section.about-us {
    display: block;
    background-color: #212328;
}

.about-us .text_headline_w {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.about-us .text_headline_w h3 {
    max-width: 70%;
}

.blocks {
    display: flex;
    justify-content: center;
    margin: 80px 80px;
}

.icons_rec {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px auto;
    width: 64px;
    height: 64px;
}

.icons_rec .svgHolder {
    width: 40px;
    height: 40px;
}

.block_title {
    flex: 1;
    display: block;
    padding: 24px 24px;
    text-align: center;
}


.block_title > h3 {
    color: #ffff;
    margin: 0;
    display: block;
    font-size: 24px;
    font-weight: 600;
}

.text_easy {
    display: block;
    color: #ffff;
    width: 50%;
    text-align: center;
    font-size: 16px;
    font-weight: 100;
    margin: 16px auto;
}


@media screen and (max-width: 1200px) {
    .section.about-us {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .text_easy {
        display: block;
        color: #ffff;
        width: 50%;
        text-align: center;
        font-size: 16px;
        font-weight: 100;
        margin: 16px auto;
    }
}

@media screen and (max-width: 989px) {
    .text_easy {
        display: block;
        color: #ffff;
        width: 50%;
        text-align: center;
        font-size: 16px;
        font-weight: 100;
        margin: 16px auto;
    }
}

@media screen and (max-width: 767px) {
    .section.about-us {
        display: flex;
        padding: 80px 24px;
        align-items: center;
        flex-direction: column;
    }

    .text_easy {
        display: block;
        color: #ffff;
        width: 50%;
        text-align: center;
        font-size: 16px;
        font-weight: 100;
        margin: 16px auto;
    }

    .about-us .blocks {
        margin: 40px 0 0;
    }

    .block_title:hover {
        transform: none;
        background-color: transparent;
    }
}

@media screen and (max-width: 319px) {
    .section.about-us {
        padding: 24px;
    }

    .text_easy {
        display: block;
        color: #ffff;
        width: 50%;
        text-align: center;
        font-size: 16px;
        font-weight: 100;
        margin: 16px auto;
        font-family: 'Open Sans', sans-serif;
    }

}
