.section.support {
    display: block;
    background-color: #212328;
}

.support .inputItemHolder {
    min-width: 400px;
    text-align: center;
    margin-bottom: 50px;
}

.support .textareaItemHolder {
    height: 100px;
    min-width: 400px;
    text-align: center;
    margin-bottom: 50px;
}

.row_support {
    display: flex;
    justify-content: center;
    align-items: center;
}

.supp {
    text-decoration: none;
    color: #EA990E;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

.contact_info {
    margin: 0 0 0 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: self-start;
}

.supp_location_icon {
    display: flex;
    text-align: center;
    margin-right: 24px;
    flex-direction: column;
    justify-content: center;
}

.blocks_supp {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    margin-bottom: 24px;
}

.supp_location_icon .svgHolder {
    width: 30px;
    height: 30px;
}

.inputs {
    max-width: 100% !important;
}

@media screen and (max-width: 767px) {
    .section.support {
        padding: 40px 20px;
    }

    .support .row_support {
        padding-top: 40px;
    }

    .inputs {
        max-width: 100% !important;
    }

    .support .inputItemHolder {
        min-width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .support .textareaItemHolder {
        height: 100px;
        min-width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .support .contact_info {
        margin: 20px 0 0;
    }

    .support .contact_info .blocks_supp {
        margin-bottom: 0;
    }

    .support .contact_info {
        align-self: center;
    }
}

@media screen and (max-width: 500px) {
    .inputs {
        max-width: 100% !important;
    }

    .support .inputItemHolder {
        min-width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .support .textareaItemHolder {
        height: 100px;
        min-width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .support .contact_info {
        align-self: center;
    }
}

@media screen and (max-width: 321px) {
    .inputs {
        max-width: 100% !important;
    }

    .support .inputItemHolder {
        min-width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .support .textareaItemHolder {
        height: 100px;
        min-width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .support .contact_info {
        align-self: center;
    }
}
