.inputHolder {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    position: relative;
    align-items: center;
    border: 1px solid #EA990E;
    border-radius: 30px;
    justify-content: center;
    background-color: transparent;
}

.inputHolder.blue {
    border: 1px solid #212328;
    background-color: transparent;
}

.inputHolder .inputWithIcon {
    width: 100%;
    display: flex;
    padding: 0;
}


.inputHolder.success {
}

.inputHolder.invalid {
    border-color: #aa0000;
}


.inputHolder label {
    top: 12px;
    left: 15px;
    color: #EA990E;
    position: absolute;
    font-size: 15px;
    transition: all ease 0.5s;
    font-family: 'Open Sans', sans-serif;
}

.inputHolder.blue label {
    color: #212328;
}

.inputHolder .errorHolder {
    top: 50px;
    left: 0;
    width: 100%;
    color: #aa0000;
    position: absolute;
    font-size: 14px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.inputHolder label.focused {
    top: -25px;
    left: 0;
    font-size: 14px;
    padding-left: 0 !important;
}

.inputHolder label.withLeftIcon {
    padding-left: 33px;
}

.inputHolder .left-icon {
    width: 23px;
    align-items: flex-end;
    margin-right: 10px;
}

.inputHolder .right-icon {
    width: 23px;
    align-items: flex-end;
    margin-left: 10px;
}

.inputHolder input {
    width: 100%;
    color: #EA990E !important;
    border: none !important;
    outline: none !important;
    font-size: 15px;
    box-shadow: none !important;
    font-family: 'Open Sans', sans-serif;
    -moz-box-shadow: none !important;
    background-image: none !important;
    background-color: transparent !important;
    -webkit-box-shadow: none !important;
}

.inputHolder.blue input {
    color: #212328 !important;
}

.inputHolder input:invalid,
.inputHolder input:focus {
    border: none;
    outline: none;
}

.inputHolder input::-webkit-inner-spin-button,
.inputHolder input::-webkit-outer-spin-button {
    margin: 0;
    appearance: none;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}

.inputHolder input::-ms-clear,
.inputHolder input::-ms-reveal {
    display: none;
}

.inputHolder input:-webkit-autofill,
.inputHolder input:-webkit-autofill:hover,
.inputHolder input:-webkit-autofill:focus,
.inputHolder input:-webkit-autofill:active {
    color: #EA990E !important;
    transition: background-color 5000s ease-in-out 0s;
    animation-name: onAutoFillStart;
    -webkit-text-fill-color: #EA990E !important;
}

.inputHolder.blue input:-webkit-autofill,
.inputHolder.blue input:-webkit-autofill:hover,
.inputHolder.blue input:-webkit-autofill:focus,
.inputHolder.blue input:-webkit-autofill:active {
    color: #212328 !important;
    -webkit-text-fill-color: #212328 !important;
}

@keyframes onAutoFillStart {
    from { /**/
    }
    to { /**/
    }
}
