.burger-menu {
    width: 48px;
    height: 48px;
    cursor: pointer;
    display: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.close-btn .svgHolder {
    width: 25px;
    height: 25px;
    transition: all ease .5s;
}

.burger-menu .svgHolder {
    width: 20px;
    height: 20px;
    transition: all ease .5s;
}

.close-btn {
    width: 48px;
    height: 48px;
    cursor: pointer;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.close-btn .svgHolder:hover,
.burger-menu .svgHolder:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 1200px) {
    .burger-menu {
        display: flex;
    }
}
