header {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    margin: 0;
    padding: 0;
    z-index: 999;
    position: fixed;
    box-shadow: 0px 10px 47px #022a4f2a;
}

header .sign-out {
    color: #EA990E;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    margin-right: 15px;
}

.main-header {
    width: 100%;
    height: 100%;
    background-color: #212328;
}
.left-section{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.exit{
    margin: 0 ;
    color: #EA990E96;
    font-size: 14px;
}
.sign-in{
    padding-right: 32px;
}
.register{
    padding-right: 24px;
}

.Header-logo {
    width: 200px;
    margin: 0;
    height: 80px;
    padding: 0;
    object-fit: contain;
}

.close-btn {
    display: none;
}

.nav_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 24px auto auto;
    list-style: none;
}
.right-block{
    padding-top: 16px;
}

.navigation-items .right-block {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.right-block .flag-options {
    right: 30px;
    border: 1px solid #EA990E !important;
    padding: 5px !important;
    background: #212328 !important;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px 0 8px 8px !important;
}

.right-block .flag-option {
    color: white !important;
    font-family: 'Open Sans', sans-serif;
}

.right-block .country-flag {
    width: 100% !important;
}

.right-block .flag-options .country-flag {
    display: flex;
}

.right-block .flag-select {
    padding-right: 0px;
    padding-bottom: 0;
}

.right-block .flag-select .flag-option.has-label {
    padding: 5px;
}

.right-block .flag-select .flag-option:hover {
    color: #212328 !important;
    transition: all .4s !important;
    border-radius: 8px 0 8px 8px !important;
    background-color: #EA990E !important;
}

.right-block .language-selector {
    width: 30px;
}

a {
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_bar li {
    padding: 0 16px;
    margin: 0;
}

li:last-child {
    padding-right: 0;
}

.navigation-items {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
}

.line {
    width: 0;
    transition: all ease 0.5s;
    margin-top: 2px;
    border-radius: 20px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #EA990E;
}

li.active .line,
li:hover .line {
    width: 100%;
}
.menu-block{
    display: none;
}
.profile-icon .fa{
    font-size: 24px;
    color: #EA990E;
}
.logout-icon .fa{
    font-size: 24px;
    color: #EA990E;
    cursor: pointer;
}
.logout-icon {
    padding-right: 10px;
}
.profile-icon{
    padding-right: 10px;
}
@media screen and (max-width: 1200px) {

    .menu-block{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left-section{
        display: none;
    }
    .menu-block .right-block {
        padding: 0;
    }

}

@media screen and (max-width: 767px) {
    .menu-block{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left-section{
        display: none;

    }
    .menu-block .right-block {
        padding: 0;
    }
    .Header-logo {
        margin: 0;
        padding: 0;
        height: 60px;
        width: 150px;
    }
    header {
        height: 70px;
    }

}

@media screen and (max-width: 319px) {

    .menu-block{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left-section{
        display: none;
    }
    .menu-block .right-block {
        padding: 0;
    }
    .right-block .flag-select {
        padding-right: 0px;
        padding-bottom: 0;
    }
    .Header-logo {
        margin: 0;
        padding: 0;
        height: 60px;
        width: 150px;
    }
    header {
        height: 70px;
    }
}


