.toggle-space {
    display: flex;
    padding: 8px;
    align-items: center;
}

.toggle-active {
    width: 60px;
    height: 32px;
    cursor: pointer;
    border: solid 1px #EA990E;
    padding: 3px 3px;
    transition: all ease 1s;
    border-radius: 50px;
    background-color: #8ac70e;
}

.toggle-inactive {
    width: 60px;
    height: 32px;
    cursor: pointer;
    border: solid 1px #EA990E;
    padding: 3px 3px;
    transition: all ease 1s;
    border-radius: 50px;
}

.inside-switcher-active {
    left: 27px;
    width: 24px;
    height: 24px;
    position: relative;
    transition: all ease 1s;
    border-radius: 50px;
    background-color: #EA990E;
}

.inside-switcher-inactive {
    left: 0;
    margin: 0;
    width: 24px;
    height: 24px;
    position: relative;
    transition: all ease 1s;
    border-radius: 50px;
    background-color: #EA990E;
}

.toggle-title-active {
    margin-left: 16px;
    font-family: 'Open Sans', sans-serif;
}

.toggle-title-inactive {
    color: #EA990E;
    margin-left: 16px;
    font-family: 'Open Sans', sans-serif;
}
