.container-holder {
    width: 100%;
    display: flex;
    min-height: 100vh;
    padding-top: 100px;
    align-items: center;
    flex-direction: column;
    background-color: #EA990E;
}

.blur-bg {
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    backdrop-filter: blur(8px);
    background-color: #EA990E73;
}

.title-holder {
    width: 100%;
    color: #212328;
    z-index: 1;
    display: flex;
    padding: 24px 80px 24px 80px;
    position: fixed;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid #212328;
    justify-content: center;
}

.title-holder h1 {
    width: 100%;
    margin: 0 0 0 0;
    max-width: 1390px;
}

.bottom-content {
    width: 100%;
    max-width: 1390px;
    padding-top: 85px;
}
@media screen and (max-width: 767px) {
    .title-holder {
        width: 100%;
        color: #212328;
        z-index: 1;
        display: flex;
        padding: 20px;
        position: fixed;
        text-align: center;
        align-items: center;
        border-bottom: 1px solid #212328;
        justify-content: center;
    }

    .title-holder h1 {
        font-size: 28px;
    }

    .container-holder {
        width: 100%;
        display: flex;
        min-height: 100vh;
        padding-top: 70px;
        flex-direction: column;
        background-color: #EA990E;
    }
}
