.privacy .bottom-content {
    padding-left: 40px;
    padding-right: 40px;
}

@media screen and (max-width: 767px) {
    .privacy .bottom-content {
        padding-left: 20px;
        padding-right: 20px;
    }
}
