
.dropdown-close{
    width: 250px;
    height: 44px;
    display: flex;
    padding: 16px;
    margin-left: 24px;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #3793fb;
    justify-content: space-between;
    background-color: #277dee0e;

}
.drop-down{
    position: relative;
}

.main-text-dropdown{
    color: #3793fb;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.down-arrow{
    cursor: pointer;
}
.down-arrow .fa{
    font-size: 30px;
    transition: all ease 0.5s;
}
.dropdown-open{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.drop-down .dropdown-box{
    display: flex;
    flex-direction: column;
}
.turn-arrow{
    transform: rotate(180deg);
}
.list-item{
    width: 250px;
    height: fit-content;
    max-height: 150px;
    overflow: auto;
    background-color: #EA990E;
    border-radius: 0 0 20px 20px;
    position: absolute;
    border: 1px solid #3793fb;
    margin-left: 24px;
    padding:16px 0 ;
    background-color: #277dee0e;
}
.country-list{
    margin: 0;
   padding: 0;
   list-style: none;
   font-size: 14px;
   font-family: 'Open Sans', sans-serif;
}
.country-list li{
    width: 100%;
    padding: 8px;
    cursor: pointer;
}
.country-list li:hover{
    width: 100%;
    background-color: #3792fb23;
}
