.textareaHolder {
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    display: flex;
    position: relative;
    align-items: center;
    border: 1px solid #EA990E;
    border-radius: 30px;
    justify-content: center;
    background-color: transparent;
}

.textareaHolder .textareaWithIcon {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0;
}


.textareaHolder.success {
}

.textareaHolder.invalid {
    border-color: #aa0000;
}


.textareaHolder label {
    top: 12px;
    left: 15px;
    color: #EA990E;
    position: absolute;
    font-size: 15px;
    transition: all ease 0.5s;
    font-family: 'Open Sans', sans-serif;
}

.textareaHolder .errorHolder {
    left: 0;
    width: 100%;
    color: #aa0000;
    bottom: -20px;
    overflow: hidden;
    position: absolute;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.textareaHolder label.focused {
    top: -25px;
    left: 0;
    font-size: 14px;
    padding-left: 0 !important;
}

.textareaHolder label.withLeftIcon {
    padding-left: 33px;
}

.textareaHolder .left-icon {
    width: 23px;
    align-items: flex-end;
    margin-right: 10px;
}

.textareaHolder .right-icon {
    width: 23px;
    align-items: flex-end;
    margin-left: 10px;
}


.textareaHolder textarea {
    width: 100%;
    color: #EA990E !important;
    resize: none;
    height: 100%;
    border: none !important;
    outline: none !important;
    font-size: 15px;
    box-shadow: none !important;
    font-family: 'Open Sans', sans-serif;
    -moz-box-shadow: none !important;
    background-image: none !important;
    background-color: transparent !important;
    -webkit-box-shadow: none !important;
}

.textareaHolder textarea:invalid,
.textareaHolder textarea:focus {
    border: none;
    outline: none;
}

.textareaHolder textarea::-webkit-inner-spin-button,
.textareaHolder textarea::-webkit-outer-spin-button {
    margin: 0;
    appearance: none;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}

.textareaHolder textarea::-ms-clear,
.textareaHolder textarea::-ms-reveal {
    display: none;
}

.textareaHolder textarea:-webkit-autofill,
.textareaHolder textarea:-webkit-autofill:hover,
.textareaHolder textarea:-webkit-autofill:focus,
.textareaHolder textarea:-webkit-autofill:active {
    color: #EA990E !important;
    transition: background-color 5000s ease-in-out 0s;
    animation-name: onAutoFillStart;
    -webkit-text-fill-color: #EA990E !important;
    -webkit-text-fill-color: #EA990E !important;
}

@keyframes onAutoFillStart {
    from { /**/
    }
    to { /**/
    }
}
