* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #EA990E;
}

.spinnerHolder {
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 9998;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.spinnerHolder.active {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

.Toastify__toast-container {
    padding: 0 !important;
}

.Toastify__toast-container .success {
    color: #212328;
    border-radius: 10px;
    background-color: #EA990E;
}

.Toastify__toast-container .error {
    color: white;
    border-radius: 10px;
    background-color: darkred;
}

.flex-row {
    flex-direction: row;
}

.ml-2 {
    margin-left: 10px;
}
