.questionPopup {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 32px;
    max-width: 85vw;
    min-width: 20vw;
    min-height: 10vh;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.questionPopup .button-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.questionPopup .button-container .button-space .button {
    margin: 16px 10px 0 10px;
}

@media screen and (max-width: 767px) {
    .questionPopup .button-container .button-space .button {
        margin: 16px 0 0 0;
    }
}

@media screen and (max-width: 760px) {
    .questionPopup .button-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

    .questionPopup .button-container .button-space {
        margin: 0 10px;
    }
}
