.banner-holder {
    height: 100vh;
    position: relative;
    padding-top: 100px;
}

.content-holder-wrapper {
    height: 100%;
    display: flex;
    padding: 0 80px;
    align-items: center;
    background-size: cover;
    justify-content: center;
    background-repeat: no-repeat;
}

.max-width-wrapper {
    height: 100%;
    display: flex;
    max-width: 1390px;
    align-items: center;
    flex-direction: row;
    background-size: cover;
    justify-content: space-around;
    background-repeat: no-repeat;
}

.title-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.mobile-store-holder {
    width: 100%;
    display: flex;
    margin-top: 50px;
}

.mobile-store-holder button:first-child {
    margin-right: 20px;
}

.content-holder-wrapper .map-image-holder {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-holder-wrapper .map-image {
    width: 15vw;
    height: auto;
    cursor: pointer;
    overflow: hidden;
    object-fit: contain;
    transition: transform .5s ease;
    box-shadow: 0px 25px 47px rgba(0, 0, 0, 0.8);
    border-radius: 1.5vw;
}

.content-holder-wrapper .map-image:hover {
    transform: scale(1.2);
}

.title-wrapper h1 {
    color: #2E2F33;
    display: flex;
    font-size: 64px;
}

.banner-line {
    width: 56px;
    display: flex;
    align-self: flex-start;
    margin-bottom: 18px;
    border-radius: 20px;
    border-bottom: 3px solid #2E2F33;
}

@media screen and (max-width: 768px) {
    .banner-holder {
        padding-top: 70px;
    }

    .mobile-store-holder {
        justify-content: space-between;
    }

    .mobile-store-holder img {
        width: 150px;
        margin-right: 0;
    }

    .title-wrapper h1 {
        font-size: 50px;
    }

    .content-holder-wrapper {
        padding: 0 24px;
    }

    .max-width-wrapper {
        flex-direction: column;
    }

    .content-holder-wrapper .map-image-holder {
        display: none;
    }
}
