footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    background-color: #EA990E;
}

.logo_footer {
    width: 200px;
}

.social_ico {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.rights > p {
    margin: 0;
    color: #212328;
}

.social_icon_space {
    margin-right: 32px;
}

@media screen and (max-width: 767px) {
    footer .social_ico {
        flex-wrap: wrap;
        flex-direction: row;
    }

    footer .social_icon_space {
        margin: 20px;
    }
}
