.menu {
    top: 70px;
    width: 100vw;
    height: 0;
    display: flex;
    z-index: 1;
    position: fixed;
    overflow: hidden;
    text-align: center;
    transition: all ease .5s;
    flex-direction: column;
    justify-content: space-between;
    background-color: #212328;

}

.menu.menuOpen {
    height: calc(100vh - 70px);
    padding: 24px;
}

.menu-mobile {
    margin: 0;
    padding: 0;
    font-size: 18px;
    list-style: none;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.menu li {
    margin: 24px 0;
    text-align: center;
    justify-content: center;
}

.menu .bottom-content {
    margin: 0;
    padding: 0 0 90px 0;
    font-size: 18px;
    list-style: none;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}


.menu .flag-options {
    right: -53px;
    border: 1px solid #EA990E !important;
    padding: 15px !important;
    background: #212328 !important;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px !important;
}

.menu .flag-option {
    color: #EA990E !important;
    font-family: 'Open Sans', sans-serif;
}

.menu .country-flag {
    width: 100% !important;
}

.menu .flag-options .country-flag {
    display: flex;
}

.menu .flag-select {
    padding-right: 0px;
    padding-bottom: 0;
}

.menu .flag-select .flag-option.has-label {
    padding: 10px;
}

.menu .flag-select .flag-option:hover {
    color: #212328 !important;
    transition: all .4s !important;
    border-radius: 8px 0 8px 8px !important;
    background-color: #EA990E !important;
}

.menu .language-selector {
    width: 30px;
}

.menu .selected--flag--option .country-flag {
    width: 30px !important;
    height: 30px !important;
}


@media screen and (max-width: 321px) {

    .menu li {
        margin: 15px 0;
    }
}
