.section {
    display: flex;
    padding: 80px;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #EA990E;
}

.section .content {
    margin: auto;
    max-width: 1390px;
}

.scroll_place {
    top: -99px;
    left: 0;
    position: absolute;
}

.text_headline_w {
    display: block;
    text-align: center;
    margin-bottom: 80px;
}

.text_headline_w > h2 {
    color: #EA990E;
    margin: 0;
    display: block;
    padding: 0 20px;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
}

.text_headline_w > h3 {
    color: #ffff;
    margin: 0;
    display: block;
    font-size: 25px;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}

.text_headline_b {
    display: block;
    text-align: center;
}

.text_headline_b > h2 {
    color: #212328;
    margin: 0;
    display: block;
    padding: 0 20px;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
}

.text_headline_b > h3 {
    color: #212328;
    margin: 0;
    display: block;
    font-size: 25px;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}

/* Blue */

.line_b {
    background-color: #212328;
    border-radius: 20px;
    width: 60px;
    height: 3px;
    margin: 16px auto;
}

.line_w {
    background-color: #EA990E;
    border-radius: 20px;
    width: 60px;
    height: 3px;
    margin: 16px auto;
}

/* General-styles */

/* Tablet */
@media screen and (max-width: 1200px) {
    .navigation-items {
        display: flex;
        padding: 24px;
        justify-content: space-between;
    }

    .text {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 1;
        padding: 64px;
        margin: 0;
    }

    .Image_first {
        order: 2;
        width: 50vw;
        height: auto;
    }

    .nav_bar {
        display: none;
    }

    .close-btn {
        display: flex;
        cursor: pointer;
    }

    .blocks {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 80px 80px;
    }

    .text_row > h3 {
        font-size: 18px;
    }

    .text_row_1 > h3 {
        font-size: 18px;
    }

    .row_support {
        flex-direction: column;
    }

    .contact_info {
        margin: 40px auto;
    }

    .blocks_supp:last-child {
        margin: 0;
    }
}


/* Tablet */

/* Mobile 500px */

@media screen and (max-width: 767px) {
    .navigation-items {
        display: flex;
        padding: 24px;
        justify-content: space-between;
    }

    .text > h2 {
        margin: 0;
        display: flex;
        font-family: 'Open Sans', sans-serif;
        color: #212328;
        font-size: 48px;
    }

    .text {
        width: 100vw;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        order: 1;
        padding: 64px;
        margin: 0;
    }

    .Image_first {
        order: 2;
        width: 70vw;
        height: auto;
    }

    .re_block {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .user_photo {
        margin: 24px auto;
    }

    .triangle {
        display: none;
    }

    .blocks {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 80px 80px;
    }

    .buttons_space {
        margin: 0px 0px 24px 0px;
    }

    .buttons_ios_and_android {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .row_support {
        display: flex;
        flex-direction: column;
    }

    .mob_row {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .text_row > h3 {
        font-size: 18px;
    }

    .inputs {
        width: 100vw;

    }

    .input_2 {
        width: 70vw;
        margin: 36px auto;

    }

    .social_ico {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .blue_logo_footer {
        width: 60vw;
    }

    .area_message {
        width: 70vw;
        margin: 36px auto;

    }

    .contact_info {
        margin: 24px auto;
    }

    .text_headline_w h3 {
        max-width: 85%;
    }

    .text_headline_w {
        margin-bottom: 0;
    }
}

/* Mobile */

@media screen and (max-width: 319px) {
    .text {
        width: 100vw;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        order: 1;
        padding: 64px;
        margin: 0;
    }

    .Image_first {
        order: 2;
        width: 100vw;
        height: auto;
    }

    .re_block {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .triangle {
        display: none;
    }

    .reviews_rectengle {
        order: 2;
    }

    .user_photo {
        order: 1;
        margin: 24px auto;
    }

    .inputs {
        width: 100vw;
        padding: 0px 24px;
    }

    .input_2 {
        width: 100vw;
    }

    .social_ico {
        flex-direction: column;
    }

    .blue_logo_footer {
        width: 100vw;
    }

    .area_message {
        width: 100vw;
    }
}
