.popupWrapper {
    position: relative;
    max-width: 85vw;
    min-width: 20vw;
    min-height: 10vh;
    border-radius: 10px;
    background-color: #EA990E;
}

.popupWrapper .close-icon {
    top: 10px;
    right: 10px;
    cursor: pointer;
    position: absolute;
}

.popupWrapper .close-icon .svgHolder {
    width: 25px;
    height: 25px;
    transition: all ease .5s;
}

.popupWrapper .close-icon .svgHolder:hover {
    transform: scale(1.1);
}

.popupWrapper .title {
    color: #212328;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}

.popupWrapper .subTitle {
    color: #212328;
    font-size: 16px;
    text-align: center;
}

.popupWrapper .button-container {
    display: flex;
    padding: 40px 0 0 0;
}

.popupWrapper .button-container button {
    margin: 0 12px;
}

@media screen and (max-width: 320px) {
    .popupWrapper .button-container {
        align-items: center;
        flex-direction: column;
    }

    .popupWrapper .button-container .button {
        margin: 0;
    }

    .popupWrapper .button-container:last-child {
        margin: 16px 0 0 0;
    }
}
