.infoPopup {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 32px;
    max-width: 85vw;
    min-width: 20vw;
    min-height: 10vh;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
