.custom-check-holder {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.custom-check-holder.disabled {
    cursor: default;
    opacity: 0.5;
}

.custom-check-holder .animation-holder {
    margin: -3px;
}

.custom-check-holder .empty-circle {
    width: 20px;
    height: 20px;
    border: 1px solid grey;
    border-radius: 10px;
}

.custom-check-holder .empty-square {
    border: 1px solid #BCBFC1;
    min-width: 20px;
    min-height: 20px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
}

.custom-check-holder .label {
    color: #EA990E;
    margin-top: 1px;
    text-align: center;
}

.custom-check-holder .label.checked {
    margin-top: 0;
    font-weight: 600;
}
