.button {
    cursor: pointer;
    outline: none;
    padding: 10px 20px;
    transition: transform ease .5s;
    box-shadow: 0px 25px 47px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
}

.button.white {
    border: 1px solid #212328;
    flex-wrap: wrap;
    background-color: #ffffff;
}

.button.blue {
    border: 1px solid #212328;
    background-color: #212328;
}

.button.green {
    border: 1px solid #38D19B;
    background-color: #EA990E;
}

.button.orange {
    border: 1px solid #FFA40A;
    background-color: #EA990E;
}

.button.black {
    border: 1px solid #212328;
    background-color: #EA990E;
}

.button.danger {
    border: 1px solid #aa0000;
    background-color: #EA990E;
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.button.white:disabled {
    border: 1px solid #212328;
}

.button.blue:disabled {
    border: 1px solid #EA990E;
}

.button.green:disabled {
    border: 1px solid #38D19B;
}

.button.orange:disabled {
    border: 1px solid #FFA40A;
}

.button.black:disabled {
    border: 1px solid #212328;
}

.button.danger:disabled {
    border: 1px solid #aa0000;
}

.button:hover {
    transform: scale(1.1);
}

.button .svgHolder {
    width: 30px;
    height: 30px;
}

.button.white:hover {
    border: 1px solid #EA990E;
    background-color: #212328;
}

.button.blue:hover {
    border: 1px solid #212328;
    background-color: #EA990E;
}

.button.green:hover {
    border: 1px solid #EA990E;
    background-color: #38D19B;
}

.button.orange:hover {
    border: 1px solid #EA990E;
    background-color: #FFA40A;
}

.button.black:hover {
    border: 1px solid #212328;
    background-color: #EA990E;
}

.button.danger:hover {
    border: 1px solid #EA990E;
    background-color: #aa0000;
}

.button:disabled:hover {
    transform: none;
}

.button.white:disabled:hover {
    border: 1px solid #212328;
    background-color: #EA990E;
}

.button.blue:disabled:hover {
    border: 1px solid #EA990E;
    background-color: #212328;
}

.button.green:disabled:hover {
    border: 1px solid #38D19B;
    background-color: #EA990E;
}

.button.orange:disabled:hover {
    border: 1px solid #FFA40A;
    background-color: #EA990E;
}

.button.black:disabled:hover {
    border: 1px solid #212328;
    background-color: #EA990E;
}

.button.danger:disabled:hover {
    border: 1px solid #aa0000;
    background-color: #EA990E;
}

.button {
    font-size: 16px;
}

.button.white {
    color: #212328;
}

.button.blue {
    color: #ffffff;
}

.button.green {
    color: #38D19B;
}

.button.orange {
    color: #212328;
}

.button.black {
    color: #212328;
}

.button.danger {
    color: #aa0000;
}

.button.white:hover {
    color: #EA990E;
}

.button.blue:hover {
    color: #212328;
}

.button.green:hover {
    color: #EA990E;
}

.button.orange:hover {
    color: #212328;
}

.button.black:hover {
    color: #212328;
}

.button.danger:hover {
    color: #EA990E;
}

.button.white:disabled:hover {
    color: #212328;
}

.button.blue:disabled:hover {
    color: #EA990E;
}

.button.green:disabled:hover {
    color: #38D19B;
}

.button.orange:disabled:hover {
    color: #212328;
}

.button.black:disabled:hover {
    color: #212328;
}

.button.danger:disabled:hover {
    color: #aa0000;
}
