.section.screens {
    display: block;
    background-color: #EA990E;
}

.screens .screens-holder {
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.screens .image-wrapper {
    width: calc(25% - 20px);
    margin: 10px;
    padding: 30px;
    min-width: 300px;
}

.screens .buttons-holder {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.screens .buttons-holder button:last-child {
    margin-left: 40px;
}

.screens .screen_photo {
    width: 100%;
    height: auto;
    cursor: pointer;
    overflow: hidden;
    transition: transform .5s ease;
    box-shadow: 0px 25px 47px rgba(0, 0, 0, 0.8);
    border-radius: 28px;
}

.screen_photo:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 989px) {
}

@media screen and (max-width: 767px) {
    .section.screens {
        padding: 80px 24px;
    }

    .screens .image-wrapper {
        width: calc(25% - 20px);
        min-width: 250px;
    }
    .text_headline_w > h3 {
        margin: 0 !important;
        max-width: 100% !important;
    }

    .screen_photo:hover {
        transform: none;
    }
}

@media screen and (max-width: 319px) {
    .screens .image-wrapper {
        width: 90%;
        min-width: 90%;
    }
}
